{% extends 'base.html' %}

{% block title %} Account Info {% endblock title %}

{% block content %}
{% include "navbar.html" %}
{% include "messages.html" %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg border-0 rounded">
        <div class="card-header bg-primary text-white">
          <h1 class="text-center">Account Information</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Username:</strong> {{ user.username }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>First Name:</strong> 
                {% if user.first_name %}
                  {{ user.first_name }}
                {% else %}
                  No data
                {% endif %}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Last Name:</strong> 
                {% if user.last_name %}
                  {{ user.last_name }}
                {% else %}
                  No data
                {% endif %}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Last Login:</strong> {{ user.last_login }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Date Joined:</strong> {{ user.date_joined }}</p>
            </div>
          </div>
          <hr>
          <a href="{% url 'update_account' %}" class="btn btn-primary float-right">Update Info</a>
          <a href="{% url 'forgot_password' %}" class="btn btn-primary float-right">Forgot Password</a>
          <a href="{% url 'logout' %}" class="btn btn-primary float-right">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}