{% extends 'base.html' %}

{% block title %}
Confessions
{% endblock %}

{% block content %}
{% include "messages.html" %}
{% include "navbar.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2"> 
      <h1 class="text-center mb-4">Confessions:</h1>
      <a href={% url "create_confession" %} class="btn btn-primary mb-3">Create confession</a>

      <div class="card-columns"> 
        {% for confession in confessions %}
          <div class="card mb-3">
            <div class="card-body">
              <h5>{{confession.username}}</h5>
              <p>{{confession.confess}}</p>
              <small class="text-muted">{{confession.created_at}}</small>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}